<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kannada Prabha</title>
    <link rel="stylesheet" href="/static/kp.css">
     
    </head>
    <body>
        <header>
            
            <div class="date">
                Sep 13, 2024 10:26 AM
            </div>
            <div class="logo"></div>
                
                <img src="/static/Screenshot 2024-09-13 211840.png" alt="Kannada Prabha Logo">
            </div>
            <div class="social-icons">
                <a href="#"><img src="/static/Screenshot 2024-09-13 212521.png" alt="Facebook"></a>
                <a href="#"><img src="/static/Screenshot 2024-09-13 212559.png" alt="Twitter"></a>
                <a href="#"><img src="/static/Screenshot 2024-09-13 212619.png" alt="Instagram"></a>
                <a href="#"><img src="/static/Screenshot 2024-09-13 212641.png" alt="YouTube"></a>
                <a href="#"><img src="/static/Screenshot 2024-09-13 212717.png" alt="Whatsapp"></a>
            </div>
        </header>
        <nav>
            <a href="http://127.0.0.1:5000/state">ರಾಜ್ಯ</a>
            <a href="http://127.0.0.1:5000/country">ದೇಶ</a>
            <a href="http://127.0.0.1:5000/politics">ರಾಜಕೀಯ</a>
            <a href="http://127.0.0.1:5000//cricket">ಕ್ರಿಕೆಟ್</a>
            <a href="http://127.0.0.1:5000/commerce">ವಾಣಿಜ್ಯ</a>
            <a href="http://127.0.0.1:5000/cinema">ಸಿನಿಮಾ</a>
            <a href="http://127.0.0.1:5000/sports">ಕ್ರೀಡೆ</a>
            <a href="http://127.0.0.1:5000/health">ಆರೋಗ್ಯ</a>
            <a href="http://127.0.0.1:5000/cook">ಅಡುಗೆ</a>
            <a href="#">...</a>
            <div class="search-icon">
                <input type="text" placeholder="Search...">
                <button><i class="fas fa-search"></i></button>
            </div>
        </nav>
    </body>
    </html>