<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/amazon.css" />
  </head>
  <body>
    <div class="container">
      <h2>Starting &#8377;99 | Amazon Brands & more</h2>
      <table>
        <tr>
          <td><img src="{{data[0].img1}}" class="product-img" /></td>
          <td><img src="{{data[1].img2}}" class="product-img" /></td>
        </tr>
        <tr>
          <td class="product-desc">
            Starting &#8377;299 | Home Storage and Organization
          </td>
          <td class="product-desc">Up to 60% off | Storage & Racks</td>
        </tr>
        <tr>
          <td><img src="{{data[2].img3}}" class="product-img" /></td>
          <td><img src="{{data[3].img4}}" class="product-img" /></td>
        </tr>
        <tr>
          <td class="product-desc">Starting &#8377;99 | Toys & games</td>
          <td class="product-desc">Up to 60% off | Jackets, dresses & more</td>
        </tr>
      </table>
    </div>
  </body>
</html>
