<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .main{
             border:auto;
             border-style: double;
             border-color:lightblue;
             width:500px;
             height:20x;
             padding:5px;
             align-items: center;
        }
        header{
            padding-left:10%;
        }

    </style>
</head>
<body>
    <h1 style="text-align:center; color:aqua;">HELLO</h1>
    <header >
        <div class="main " align="center">
            <button><a href="http://127.0.0.1:5000/">Home</a></button>
            <button> <a href="http://127.0.0.1:5000/about">About</a></button>
            <button><a href="http://127.0.0.1:5000/contact">Contact</a></button>
            <button><a href="http://127.0.0.1:5000/login">Login </a></button>
            <button><a href="http://127.0.0.1:5000/registration">Registration</a></button>
            
           
            
            

        </div>
    </header>
</body>
</html>