<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2" cellpadding="10" cellspacing="10" align="center">
        <tr>
            <th>Name</th>
            <th>age</th>
            <th>gender</th>

        </tr>
        <tr>
            <td>{{data[0].name}}</td>
            <td>{{data[0].age}}</td>
            <td>{{data[0].gender}}</td>
        </tr>
        <tr>
            <td>{{data[1].name}}</td>
            <td>{{data[1].age}}</td>
            <td>{{data[1].gender}}</td>
        
        </tr>
        <tr>
            <td>{{data[2].name}}</td>
            <td>{{data[2].age}}</td>
            <td>{{data[2].gender}}</td>
        </tr>
        
        
            
    </table>
</body>
</html>